body{
    background-image: url("https://steamuserimages-a.akamaihd.net/ugc/156901025169962305/7E4EE0CD182A4B3A67F344BDF9E041243D211116/");
    background-size: cover;
}

p{
    font-size: 20px;
    font-weight: lighter;
    color: white;
    
}

label {
    margin-bottom: 0px !important;
}

.mainHeader {
    font-family: 'Trebuchet MS';
    font-weight: bold;
    background-color: rgb(255, 217, 1);
    font: black;
    /* margin-top: 20px; */
    
}

.navbar-brand {
    font-size: 30px !important;
}

.card {
    margin-top: 30px;
    height: 400px;
    opacity: 0.75;
    background-color: grey !important;
    
}

.form-group {
    margin-top: 20px;
}

#submitButton {
    text-align: center;
    margin: 25px;
    background-color: rgb(255, 217, 1);
    border: solid 1px rgb(49, 48, 48);
    color: black;
    
}
