body{
    background-image: url("https://steamuserimages-a.akamaihd.net/ugc/156901025169962305/7E4EE0CD182A4B3A67F344BDF9E041243D211116/");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
}

p{
    font-size: 20px;
    font-weight: lighter;
    color: white;
    
}

label {
    margin-bottom: 0px !important;
}

.mainHeader {
    font-family: 'Trebuchet MS';
    font-weight: bold;
    background-color: rgb(255, 217, 1);
    font: black;
    /* margin-top: 20px; */
    
}

.navbar-brand {
    font-size: 30px !important;
}

.card {
    margin-top: 30px;
    height: 400px;
    background-color: rgb(126, 123, 123, 0.75) !important;
    
}

.form-group {
    margin-top: 20px;
}

#submitButton {
    text-align: center;
    margin: 25px 25px 25px 15px;
    background-color: rgb(255, 217, 1);
    border: solid 1px rgb(49, 48, 48, 0.75);
    color: black;
    
}

img {
    height: 150px;
    width: 150px;
    border-radius: 5px;
    margin-top: 10px;
    margin-left: 10px;
    border: 1px lightgrey solid;
}

.media {
    background-color: white;
    border: 1px solid grey;
    margin-top: 10px;
    border-radius: 10px;
}

.businessHeader{
    font-size: 20px;
    color: black;
    font-weight: bold;
    margin-left: 10px;
    padding: 3px;
}

.businessInfo{
    color: black;
    font-size: 15px;
    margin-left: 10px;
    padding-left: 3px;
}
